html {
    font-family: Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16pt;
    line-height: 1.5;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

.jumbotron {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rebeccapurple;
    color: white;
    border-radius: 1rem;
    background-image: url(triangles-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
}

.jumbotron h1 {
    margin: 0;
    text-align: center;
    font-size: 48pt;
}

.jumbotron a {
    color: white;
}

.jumbotron .code-club-logo {
    position: relative;
    float: left;
    left: -12rem;
    top: -0.2rem;
}

.group-photo {
    float: right;
    margin-left: 1rem;
    width: 30%;
}

.clearfix {
    float: none;
    clear: both;
}

.our-works {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
}

main {
    margin-bottom: 5em;
}

footer {
    position: fixed;
    left: 10%;
    bottom: 0;
    width: 80%;
    padding: 0.5rem;
    background-color: white;
    font-size: small;
    border: none;
    border-top: 1px gainsboro solid;
}

footer .column {
    display: inline-block;
    width: 30%;
}

.work-thumbnail {
    display: inline-block;
    margin: 1.2rem;
    width: 45%;
}

.work-thumbnail img {
    width: 100%;
    border: solid 1rem whitesmoke;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px silver;
}

.work-title {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    top: -4rem;
    left: 1rem;
    padding-left: 1rem;
}

.rotate:hover {
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform-origin: center;
	-moz-transform-origin: center;
	-webkit-transform-origin: center;
	transition:  2s ease all;
	-moz-transition: 2s ease all;
	-webkit-transition:  2s ease all;
}

nav {
    text-align: right;
}

nav img {
    margin-right: 1rem;
    margin-top: 1rem;
}

nav a.left {
    float: left;
}

.footer-center {
    text-align: center;
    line-height: 1rem;
}